video {
  max-width: 100%;
  height: auto;
  border: 0;
}

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
}

h1, h2, div, p {
  color: var(--ion-text-color);
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
}

.subline {
  font-size:80%;
  margin-bottom:1em;
}