<ion-header>
  <section>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/dictionary" [text]="texts.commonBack"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </section>
</ion-header>

<ion-content>
  <section>
    <div class="ion-padding-horizontal">
      <h1>{{word.name}}</h1>
    </div>

    <div [hidden]="!word.videoName">
      <video id="dictVideoName{{word.id}}" src="content/{{word.videoName}}" poster="content/{{word.videoNameStart}}" controls controlsList="nodownload" preload="none" preload="none"></video>
    </div>

    <div class="ion-padding-horizontal">
      <h2>{{texts.commonDescription}}</h2>
      <p>{{word.description}}</p>
    </div>

    <div [hidden]="!word.videoDesc">
      <video id="dictVideoDesc{{word.id}}" src="content/{{word.videoDesc}}" poster="content/{{word.videoDescStart}}" controls controlsList="nodownload" preload="none" preload="none"></video>
    </div>

    <div class="ion-padding-horizontal" *ngIf="word.synonyms">
      <h2>{{texts.dictSynonyms}}</h2>
      <p>{{word.synonyms}}</p>
    </div>

    <div class="ion-text-center" *ngIf="word.img1">
      <img src="content/{{word.img1}}" alt="{{word.name}}" />
      <div class="subline">{{word.img1Source}}</div>
    </div>

    <div class="ion-text-center" *ngIf="word.img2">
      <img src="content/{{word.img2}}" alt="{{word.name}}" />
      <div class="subline">{{word.img2Source}}</div>
    </div>

    <div class="ion-padding-horizontal" *ngIf="word.relatedWords.length">
      <h2>{{texts.dictRelatedWords}}</h2>
      <ion-list>
        <ion-item *ngFor="let related of word.relatedWords" routerLink="/tabs/dictionary/word/{{related.id}}">
          <ion-thumbnail slot="start">
            <img src="content/{{related.img1}}" />
          </ion-thumbnail>
          <ion-label>
            <h3>{{related.name}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </section>

</ion-content>


