<ion-header>
  <section>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/home" [text]="texts.commonBack"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </section>
</ion-header>

<ion-content>
  <section>

    <p *ngIf="media.homeWelcome">
      <video id="mediaHomeWelcome" src="content/{{media.homeWelcome}}" poster="content/{{media.homeWelcomeStart}}" controls controlsList="nodownload"></video>
    </p>

    <div class="ion-padding-horizontal">
      <p class="ion-text-center"><ion-button fill="clear" target="_blank" href="https://www.swing.ceipes.org">{{texts.aboutSwingLong}}</ion-button></p>

      <p [innerHTML]="texts.aboutSwingProject"></p>

      <p *ngIf="media.homeWelcome" class="ion-text-center">
        <img src="content/{{media.aboutFundedEuLogo}}" />
      </p>

      <ion-list>
        <ion-item-divider></ion-item-divider>

        <ion-item target="_blank" href="https://www.federsid.org">
          <ion-thumbnail slot="start">
            <img src="assets/images/partner-federsid-square.jpg" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2 [innerHTML]="texts.aboutPartnerFedersid"></h2>
            <h3 [innerHTML]="texts.aboutPartnerFedersidLong"></h3>
          </ion-label>
        </ion-item>

        <ion-item target="_blank" href="http://www.cetem.es">
          <ion-thumbnail slot="start">
            <img src="assets/images/partner-cetem-square.jpg" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2 [innerHTML]="texts.aboutPartnerCetem"></h2>
            <h3 [innerHTML]="texts.aboutPartnerCetemLong"></h3>
          </ion-label>
        </ion-item>

        <ion-item target="_blank" href="https://www.ili.fau.de">
          <ion-thumbnail slot="start">
            <img src="assets/images/partner-ili-square.png" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2 [innerHTML]="texts.aboutPartnerIli"></h2>
            <h3 [innerHTML]="texts.aboutPartnerIliLong"></h3>
          </ion-label>
        </ion-item>

        <ion-item target="_blank" href="https://ceipes.org">
          <ion-thumbnail slot="start">
            <img src="assets/images/partner-ceipes-square.png" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2 [innerHTML]="texts.aboutPartnerCeipes"></h2>
            <h3 [innerHTML]="texts.aboutPartnerCeipesLong"></h3>
          </ion-label>
        </ion-item>

        <ion-item target="_blank" href="https://www.munkakoralap.hu">
          <ion-thumbnail slot="start">
            <img src="assets/images/partner-munka-square.jpg" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2 [innerHTML]="texts.aboutPartnerMunka"></h2>
            <h3 [innerHTML]="texts.aboutPartnerMunkaLong"></h3>
          </ion-label>
        </ion-item>

      </ion-list>

      <p class="ion-text-center">
        <ion-button fill="clear" routerLink="/tabs/home/imprint">{{texts.homeLinkImprint}}</ion-button>
        <ion-button fill="clear" routerLink="/tabs/home/privacy">{{texts.homeLinkPrivacy}}</ion-button>
      </p>
    </div>
  </section>
</ion-content>
