<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancel</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(false)">Reset</ion-button>
    </ion-buttons>

    <ion-title>
      Filter Words
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-list-header>Units</ion-list-header>

    <ion-item *ngFor="let unit of units" [attr.unit]="unit.id">
      <ion-label>{{unit.name}}</ion-label>
      <ion-checkbox [(ngModel)]="unit.isChecked"></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer translucent *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Deselect All</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll(true)">Select All</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
