<ion-header>
  <section>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/tabs/training/question/{{itemId}}/{{mode}}">
          <ion-icon name="arrow-back"></ion-icon>
          {{texts.commonBack}}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </section>
</ion-header>

<ion-content>

  <section *ngIf="showWord">

    <div class="ion-text-center">
      <h1>{{word.name}}</h1>
    </div>

    <div class="ion-text-center" *ngIf="word.img1">
      <img src="content/{{word.img1}}" alt="{{word.name}}" />
      <div class="subline">{{word.img1Source}}</div>
    </div>

    <div class="ion-text-center" *ngIf="word.img2">
      <img src="content/{{word.img2}}" alt="{{word.name}}" />
      <div class="subline">{{word.img2Source}}</div>
    </div>

  </section>

  <section *ngIf="showSign">

    <div *ngIf="word.videoName">
      <video id="answerVideoName{{word.id}}" src="content/{{word.videoName}}" poster="content/{{word.videoNameStart}}" controls controlsList="nodownload"></video>
    </div>

  </section>

  <section class="ion-text-center">

    <h2>{{texts.trainAskRemembered}}</h2>

    <!--
      SuperMemo2 originally has 6 qualities: 0-2 for not known and 3-5 for known
      A response lower than 3 means that train intervals are reset to the beginning
      A response lower than 4 means that the item has to brepeated on the same day
    -->

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="success" (click)="finishAnswer(4)">{{texts.trainWellKnown}}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="warning" (click)="finishAnswer(2.5)">{{texts.trainNearlyKnown}}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)="finishAnswer(1)">{{texts.trainNotKnown}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </section>

</ion-content>