<ion-header>
  <section>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/home" [text]="texts.commonBack"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </section>
</ion-header>

<ion-content padding>
  <section>
    <h2 [innerHTML]="texts.privacyStatementHead"></h2>
    <p [innerHTML]="texts.privacyStatementText"></p>

    <h2 [innerHTML]="texts.privacyDataHead"></h2>
    <p [innerHTML]="texts.privacyDataText"></p>

  <p class="ion-text-center">
    <ion-button class="ion-text-wrap" fill="clear" target="_blank" href="https://www.ili.fau.de/datenschutz">{{texts.privacyLinkEditorText}}</ion-button>
  </p>

  </section>

</ion-content>
