<ion-header>
  <section>
  <ion-toolbar>
    <ion-title>
        {{texts.headHome}}
      </ion-title>
  </ion-toolbar>
  </section>
</ion-header>

<ion-content padding>
<section>

  <p class="ion-text-center">
    <img src="assets/images/logo-swing.png" alt="{{texts.aboutSwingLong}}" />
  </p>

  <p class="ion-text-center" [innerHTML]="texts.homeWelcome"></p>

  <ion-list>
    <ion-item-divider></ion-item-divider>

    <ion-item routerLink="/tabs/dictionary">
      <ion-thumbnail slot="start">
        <img src="assets/images/icon-dictionary.svg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">{{texts.homeItemDictionary}}</ion-label>
    </ion-item>

    <ion-item routerLink="/tabs/training">
      <ion-thumbnail slot="start">
        <img src="assets/images/icon-training.svg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">{{texts.homeItemTraining}}</ion-label>
    </ion-item>

    <ion-item routerLink="/tabs/home">
      <ion-thumbnail slot="start">
        <img src="assets/images/icon-filter.svg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">{{texts.homeItemFilter}}</ion-label>
    </ion-item>

  </ion-list>

  <p class="ion-text-center">
    <ion-button fill="clear" routerLink="/tabs/home/about">{{texts.homeLinkAbout}}</ion-button>
    <ion-button fill="clear" routerLink="/tabs/home">{{texts.homeLinkImprint}}</ion-button>
    <ion-button fill="clear" routerLink="/tabs/home">{{texts.homeLinkPrivacy}}</ion-button>
  </p>

</section>
</ion-content>
