<ion-header>
  <section>
    <ion-toolbar>
      <ion-title>
        {{texts.headAdditional}}
      </ion-title>
    </ion-toolbar>
  </section>
</ion-header>

<ion-content>
<section>

  <p>
    <ion-button fill="clear" routerLink="/tabs/additional/about" [innerHTML]="texts.addiHeadSignLanguage"></ion-button>
  </p>


  <div class="ion-padding-horizontal">

    <h2 [innerHTML]="texts.addiTrainingModules"></h2>
    <p [innerHTML]="texts.addiTrainingStructure"></p>
  </div>

  <ion-list>
      <ion-item  *ngFor="let module of modules" routerLink="/tabs/additional/module/{{module.id}}">
        <ion-icon slot="start" name="folder-open"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>{{module.name}}</h2>
        </ion-label>
      </ion-item>
  </ion-list>

</section>
</ion-content>
