<ion-header>
  <section>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/additional" [text]="texts.commonBack"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="presentFilter()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </section>
</ion-header>

<ion-content>
  <section>

    <div class="ion-padding-horizontal">
      <h1>{{unit.name}}</h1>
    </div>

    <p *ngIf="unit.videoName">
      <video id="unitVideoName{{unit.id}}" src="content/{{unit.videoName}}" poster="content/{{unit.videoNameStart}}" controls controlsList="nodownload"></video>
    </p>

    <div *ngIf="unit.description" class="ion-padding-horizontal">
      <p>{{unit.description}}</p>
    </div>

    <p *ngIf="unit.videoDesc">
      <video id="unitVideoDesc{{unit.id}}" src="content/{{unit.videoDesc}}" poster="content/{{unit.videoDescStart}}" controls controlsList="nodownload"></video>
    </p>

  </section>

</ion-content>