<ion-header>
  <section>
    <ion-toolbar>
      <ion-title>
        {{texts.headTraining}}
      </ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="presentFilter()">
          <span *ngIf="ios">{{texts.commonFilter}}</span>
          <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </span>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </section>
</ion-header>

<ion-content padding>
  <section>
    Coming soon
  </section>
</ion-content>
