<ion-header>
  <section>
    <ion-toolbar>
      <ion-title>
        {{texts.headTraining}}
      </ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="presentFilter()">
          <span *ngIf="ios">{{texts.commonFilter}}</span>
          <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </span>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </section>
</ion-header>

<ion-content padding>
  <section>
    <ion-list [lines]="ios ? 'inset' : 'full'">
      <ion-item>
        <ion-label>{{texts.trainSelectedWords}}</ion-label>
        <ion-note class="counter" slot="end">{{overview.totalCount}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{texts.trainTrainedWords}}</ion-label>
        <ion-note class="counter" slot="end" >{{overview.trainedCount}}</ion-note>
      </ion-item>
    </ion-list>

    <h2>{{overview.trainDate}}</h2>

    <ion-list [lines]="ios ? 'inset' : 'full'">
      <ion-item>
        <ion-label>{{texts.trainTodayNew}}</ion-label>
        <ion-note class="counter" slot="end">{{overview.newCount}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{texts.trainTodayReview}}</ion-label>
        <ion-note class="counter" slot="end">{{overview.reviewCount}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{texts.trainTodayRepeat}}</ion-label>
        <ion-note class="counter" slot="end">{{overview.repeatCount}}</ion-note>
      </ion-item>
    </ion-list>

    <p class="ion-text-center">
      <ion-button (click)="startTraining(MemoMode.Random)">{{texts.trainStartTraining}}</ion-button>
    </p>

    <p class="ion-text-center">
      <ion-button fill="clear" (click)="startTraining(MemoMode.WordSign)">{{texts.trainShowWordAskSign}}</ion-button>
    </p>

    <p class="ion-text-center">
      <ion-button fill="clear" (click)="startTraining(MemoMode.SignWord)">{{texts.trainShowSignAskWord}}</ion-button>
    </p>

    <p class="ion-text-center">
      <ion-button fill="clear" (click)="resetTraining()">{{texts.trainResetStatus}}</ion-button>
    </p>

    <p class="ion-text-center">
      <ion-button fill="clear" color="medium" (click)="setNextDay()">Set Next Day (Development Only)</ion-button>
    </p>

  </section>
</ion-content>
