<ion-header>
  <section>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/home" [text]="texts.commonBack"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </section>
</ion-header>

<ion-content>
<section>
  <h2 [innerHTML]="texts.imprintLegalNoticeHead"></h2>
  <p [innerHTML]="texts.imprintLegalNoticeText"></p>

  <h2 [innerHTML]="texts.imprintEditorHead"></h2>
  <p [innerHTML]="texts.imprintEditorText"></p>

  <h2 [innerHTML]="texts.imprintDiscrlaimerHead"></h2>
  <p [innerHTML]="texts.imprintDisclaimerText"></p>
  <p [innerHTML]="texts.imprintDisclaimerTextEu"></p>

  <h2 [innerHTML]="texts.imprintCopyrightHead"></h2>
  <p [innerHTML]="texts.imprintCopyrightText"></p>
</section>

  <p class="ion-text-center">
    <ion-button fill="clear" routerLink="/tabs/home/about">{{texts.homeLinkAbout}}</ion-button>
    <ion-button fill="clear" routerLink="/tabs/home/imprint">{{texts.homeLinkImprint}}</ion-button>
    <ion-button fill="clear" routerLink="/tabs/home">{{texts.homeLinkPrivacy}}</ion-button>
  </p>

</ion-content>
