<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{texts.headHome}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dictionary">
      <ion-icon name="journal"></ion-icon>
      <ion-label>{{texts.headDictionary}}</ion-label>
    </ion-tab-button>

    <!--
    <ion-tab-button tab="training">
      <ion-icon name="albums"></ion-icon>
      <ion-label>{{texts.headTraining}}</ion-label>
    </ion-tab-button>
    -->
  </ion-tab-bar>

</ion-tabs>
